.heart_not_favourite {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.heart_favourite {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    :last-child {
        fill: rgb(243, 110, 110);
        transition: 0.2s;
    }
}